<div id="sidebar" class="left-bar">
  <div class="search">
    <span><img src="../../icons/ic_mag_24px.svg" alt="" /></span>
    <input type=search placeholder="Filter">

  </div>
  <div class="left-bar-menu">
    <button class="button-on">History</button>
    <button> Collection</button>
  </div>

  <div class="history-trash">
      <p>Save to collection</p>

      <img class="trash-can"src="../../icons/ic_delete_black_36px.svg" alt=""/>
      <img class="expand" src="../../icons/ic_expand_more_greyish_36px.svg" alt=""/>

  </div>
  <div class="history-list">

  </div>
</div>
