<div id="content" class="http-content">
  <div class="http-main">
    <tab-row curr="$ctrl.currentHttp"></tab-row>
    <div class="http-container">
      <div class="http-container-header">
        <div class="http-container-header-top">
          <http-input-container class="http-input-container" current="$ctrl.currentHttp"></http-input-container>
          <!-- <div class="http-input-container">
            <div class="http-input-menu">
              GET
              <img src="../../icons/ic_expand_more_greyish_36px.svg" alt="" />
            </div>
            <input class="http-input-input" name="request-url" type="text" placeholder="Enter request URL">
            <div class="http-input-params">
              Params
            </div>
          </div> -->
          <div class="http-send-btn">
            <div>
              Send
            </div>
            <img src="../../icons/ic_expand_more_greyish_36px.svg" alt="" />
          </div>
          <div class="http-save-btn">
            <div>
              Save
            </div>
            <img src="../../icons/ic_expand_more_greyish_36px.svg" alt="" />
          </div>
        </div>
        <div class="http-container-header-bottom">
          <ul>
            <li>Authorization</li>
            <li>Headers</li>
            <li>Body</li>
            <li>Pre-request Script</li>
            <li>Tests</li>
          </ul>
          <span>
            Code
          </span>
        </div>
      </div>
      <div class="http-container-body">

      </div>
    </div>
  </div>
</div>
